.posts-main {
    border-collapse: collapse;
        border: 1px solid #999;
        padding: 0.5rem;
        text-align: left;
        margin-bottom: 0.5rem;
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
form{
    position:relative;
    width:50%;
    align:center;
    margin-left:25%;
    margin-right:25%;
}
p.error {
    font-weight: bold;
    color: red;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
.navbar a.active {
          background-color: #4169e1;
          color: white;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FBF3EA;
    }

h1 {
  color: blue;
  text-align: center;
  font-family: Luminari;
  font-size: 300%;
  padding: 25px;
  margin: 25px;
  align:center;
   }

h2 {
  color: blue;
  text-align: left;
  font-family: Luminari;
    padding: 5px;
    margin: 5px;
   }

h3 {
 color: blue;
 font-family: Luminari;
 font-size: 3em;
 padding: 5px;
 margin: 5px;
}

  p {
    color: black;
    font-family: Times New Roman;
    font-size: 160%;
    padding: 10px;
    margin: 10px;
  }


  input[type=text], input[type=email], input[type=password] {
    width: 101%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #4169e1;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 14px 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  .cancel_btn {
    width: auto;
    padding: 10px 18px;
    background-color: #9C1003;
  }
  .imgcontainer {
      text-align: center;
       margin: 10px 0 5px 0;
    }
    img.avatar {
    width: 10%;
    height: 10%;
    align: center; */
     border-radius: 50%;
  }
   span.psw {
      float: right;
      padding-top: 16px;
    }

  .imgcontainer1 {
      text-align: right;
       float: right;
    }

    img.avatar1 {
    float: right;
    width: 10%;
    height: 10%;
    border-radius: 20%;
    padding: 20px 20px 20px 20px ;
    }

.wrapper button{
    color: #ff0000;
    background: none;
    border:none;
    cursor:pointer;
    text-align: left;
    align:left;
    padding: 0.5rem;
}
.row {
  background-color: #CAA347;
  color: #fff;
    position:relative;
    width:50%;
    padding: 2em 2em 0.5em;
    align:center;
    margin: 2em	auto; }
  .row h1 {
    font-size: 2.5em; }
  .row .form-group {
    margin: 0.5em 0; }
    .row .form-group label {
      display: block;
      color: #fff;
      text-align: left;
      font-weight: 600; }
    .row .form-group input, .row .form-group button {
      display: block;
      padding: 0.5em 0;
      width: 100%;
      margin-top: 1em;
      margin-bottom: 0.5em;
      background-color: inherit;
      border: none;
      border-bottom: 1px solid #555;
      color: #eee; }
      .row .form-group input:focus, .row .form-group button:focus {
        background-color: #fff;
        color: #000;
        border: none;
        padding: 1em 0.5em; animation: pulse 1s infinite ease;}
    .row .form-group button {
      border: 1px solid #fff;
      border-radius: 5px;
      outline: none;
      -moz-user-select: none;
      user-select: none;
      color: #333;
      font-weight: 800;
      cursor: pointer;
      margin-top: 2em;
      padding: 1em; }
      .row .form-group button:hover, .row .form-group button:focus {
        background-color: #fff; }


/* Profile page - logo and img alignment: Create two equal columns that floats next to each other */
* {
  box-sizing: border-box;
}
.column1 {
  float: left;
  width: 50%;
  padding: 3em 3em 1em;
}

/* Profile Page - logo and img alignment: Clear floats after the columns */
.row1:before {
  padding: 3em 3em 1em;
}
.row1:after {
  content: "";
  display: table;
  clear: both;
}