.posts-main {
    border-collapse: collapse;
        border: 1px solid #999;
        padding: 0.5rem;
        text-align: left;
        margin-bottom: 0.5rem;
}
form{
    position:relative;
    width:50%;
    align:center;
    margin-left:25%;
    margin-right:25%;
}
p.error {
    font-weight: bold;
    color: red;
}
.topnav {
  overflow: hidden;
  background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4169e1;
  color: white;
}

.topnav-right {
  float: right;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FBF3EA;
    }

h1 {
  color: blue;
  text-align: center;
  font-family: Luminari;
  font-size: 300%;
  padding: 25px;
  margin: 25px;
  align:center;
   }

h2 {
  color: blue;
  text-align: left;
  font-family: Luminari;
    padding: 5px;
    margin: 5px;
   }

h3 {
 color: blue;
 font-family: Luminari;
 font-size: 3em;
 padding: 5px;
 margin: 5px;
}

  p {
    color: black;
    font-family: Times New Roman;
    font-size: 160%;
    /* border: 2px solid powderblue; */
    padding: 10px;
    margin: 10px;
  }

  /*form {border: 3px solid #f1f1f1;}*/

  input[type=text], input[type=email], input[type=password] {
    width: 101%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #4169e1;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 14px 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  .cancel_btn {
    width: auto;
    padding: 10px 18px;
    background-color: #9C1003;
  }
  .imgcontainer {
      text-align: center;
       margin: 10px 0 5px 0;
    }
    img.avatar {
    width: 10%;
    height: 10%;
    align: center; */
     border-radius: 50%;
  }
   span.psw {
      float: right;
      padding-top: 16px;
    }

  .imgcontainer1 {
      text-align: right;
      /*  float: top;
      padding: 20px 20px 20px 20px ; */
    }
        img.avatar1 {
        /* float: right; */
        width: 10%;
        height: 10%;
        border-radius: 20%;
        padding: 20px 20px 20px 20px ;
      }


  /*  ul.li {
      display: block;
      list-style-type: disc;
      margin-top: 1em;
      margin-bottom: 1 em;
      margin-left: 0;
      margin-right: 0;
      padding-left: 40px;
    }

 /* .wrapper {
        text-align: center;
        }


  .wrapper ul {
     list-style-type:none;
     margin: 5;
     padding: 5;
     zoom:1;
           }


 .wrapper li {
    padding:0.25em 0.5em 0.25em 1em;
           }

 .wrapper li:after {
      content: "\a";
      white-space: pre;
        }

.wrapper form{
    position:relative;
    width:100%;
    align:left;
    margin-left:5%;
    margin-right:25%;
    border: 5px solid yellow;
 }*/
.wrapper button{
    color: #ff0000;
    background: none;
    border:none;
    cursor:pointer;
    text-align: left;
    align:left;
    padding: 0.5rem;
}/*
.wrapper button:active{
    color: #fff;
    transform: scale(1.2);
}*/
.row {
  background-color: #CAA347;
  color: #fff;
    position:relative;
    width:50%;
    padding: 2em 2em 0.5em;
    align:center;
    margin: 2em	auto; }
  .row h1 {
    font-size: 2.5em; }
  .row .form-group {
    margin: 0.5em 0; }
    .row .form-group label {
      display: block;
      color: #fff;
      text-align: left;
      font-weight: 600; }
    .row .form-group input, .row .form-group button {
      display: block;
      padding: 0.5em 0;
      width: 100%;
      margin-top: 1em;
      margin-bottom: 0.5em;
      background-color: inherit;
      border: none;
      border-bottom: 1px solid #555;
      color: #eee; }
      .row .form-group input:focus, .row .form-group button:focus {
        background-color: #fff;
        color: #000;
        border: none;
        padding: 1em 0.5em; animation: pulse 1s infinite ease;}
    .row .form-group button {
      border: 1px solid #fff;
      border-radius: 5px;
      outline: none;
      -moz-user-select: none;
      user-select: none;
      color: #333;
      font-weight: 800;
      cursor: pointer;
      margin-top: 2em;
      padding: 1em; }
      .row .form-group button:hover, .row .form-group button:focus {
        background-color: #fff; }


/* Posts page - logo and img alignment: Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 50%;
}

/* Posts Page - logo and img alignment: Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}




 /* .imgcontainer {
    text-align: center;
    margin: 10px 0 5px 0;
  }



  .container {
    padding: 16px;
  }



hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

form {border: 3px solid #f1f1f1;}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
*/



/*
 .root{
     -fx-background-color: linear-gradient(#383838, #838383);
     -fx-font-size: 11pt;
 }

 .label{
     -fx-text-fill: #e8e8e8;
  }

 .button{
-fx-background-color: linear-gradient(#dc9556, #ab4642);
-fx-background-radius: 100;
 }

 .text-area{
     -fx-background-color: white;
     -fx-background-radius: 0;
  }
  */

