<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Signup</title>
        <link rel="stylesheet" href="/main.css" th:href="@{/main.css}" />
    </head>
    <body>
    <div class="topnav">
        <a href="/homepage">Home</a>
    </div>
        <h1>Sign Up to Acebook</h1>
        <p style="text-align:center">Please fill in this form to create an account.</p>
        <!-- <hr>  -->

        <form action="#" th:action="@{/users}" th:object="${user}" method="post">
            <div class="container">

                <!--  <p>Username: </p>
           <input type="text" th:field="*{username}" /> -->

<!--                <label th:field="*{username}"><b>Username</b></label>:-->
<!--                <input type="text" placeholder="Enter Username" id="username" autofocus ="autofocus" name="username" required/> <br />-->

                <label th:field="*{username}"><b>Email Address</b></label>:
                <input type="email" minlength="3" maxlength="30" placeholder="Enter Email Address format being, default@example.com" id="username" autofocus ="autofocus" name="username" required/> <br />

                <!--  <p>Password: </p>
                      <input type="password" th:field="*{password}" /> -->

                <label th:field="*{password}"><b>Password</b></label>:
                <input type="password" minlength="8" maxlength="16" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,16}$"
                       placeholder="Must contain at least one: number, special character, uppercase and lowercase letter, and be at least 8 characters long" id="password" name="password" required/> <br />

                <p style="font-family:if;font-size:16px;font-style:italic">By creating an account you agree to our <a href="/terms" style="color:dodgerblue">Terms & Privacy</a>.</p>

            <input type="submit" value="Submit" id="submit"/>
            <input type="reset" value="Reset" />


        </form>
    </body>
</html>