<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/main.css" th:href="@{/main.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
<div class="topnav">
            <a href="/posts">Posts</a>
            <a class="active" href="/users/${id}">Profile</a>
            <a href="/logout">Log Out</a>
        <div sec:authorize="isAuthenticated()" style="text-align: right; padding: 5px; color: white; padding-top: 15px; padding-right: 30px;">
            Signed in as: <span sec:authentication="name"></span>
        </div>
</div>
<h1>Profile</h1>

<input type="hidden" id="stream" name="stream" th:value="${username}" />

<p>Posts</p>
<ul th:each="post: ${posts}">
    <form action="#" th:action="@{'/users/'+${post.id}+'/likes'}" method="post">
        <li th:text="${post.content}" />
        <button type="submit" id="like" class="button button-like"><i class="fa fa-heart"></i></button>
        <i id="NoLikes" th:text="${post.likes}"/>
    </form>
</ul>

<p>Friends</p>
<ul th:each="friend: ${friendsList}">
    <li th:text="${friend.getUsername()}" />
</ul>

<!--<img src="./Homer.png"/>-->
<!--<img th:src="@{/src/main/resources/images/Homer.png}"/>-->
<!--<img th:src="@{/images/Homer.png}"/>-->
<!--<img src="/images/Homer.png" />-->
<!--<img th:src="@{images/Homer.png}" >-->
<!--<img src="Homer.png"/>-->
<!--<img src="/images/Homer.png" width="1000" th:src="@{images/Homer.png}"/>-->
<!--<img src="/Homer.jpeg"/>-->
<!--<img th:src="@{/src/main/resources/images/Homer.jpeg}"/>-->
<!--<img th:src="@{/images/Homer.jpeg}"/>-->
<!--<img src="/images/Homer.jpeg" />-->
<!--<img th:src="@{images/Homer.jpeg}" >-->
<!--<img src="Homer.jpeg"/>-->
<!--<img src="/images/Homer.jpeg" width="1000" th:src="@{images/Homer.jpeg}"/>-->
<!--<img src="Homer.jpeg"/>-->
<!--<img src="../Homer.png" width="210" height="241"/>-->
<!--<img th:src="@{images/Homer.png}"/>-->
<!--<img src="/Homer" />-->
<!--<img th:src="@{/Homer}" />-->
<!--<img src="images/"+ />-->
<img th:src="${profileString}"/>



<!--<img src="https://upload.wikimedia.org/wikipedia/en/0/02/Homer_Simpson_2006.png"/>-->

</body>
</html>