<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/main.css" th:href="@{/main.css}" />
    <title>Acebook Forgot Password Page</title>
</head>
<body>
<div class="topnav">
    <a class="active"  href="/login">Sign In</a>
</div>

<h2>acebook</h2>
  <div class="row">
        <h1>Forgot Password</h1>
          <h6 class="information-text">Enter your registered email to reset your password.</h6>
<!--      <h4 class="information-text">Enter your registered username to reset your password.</h4>-->
      <div class="form-group">
        <input type="email" name="user_email" id="user_email">
<!--        <input type="text" id="username" name="username" required/> <br />-->

<!--        <p><label for="user_email">Email</label></p>-->
<!--        <p><label for="username">Username</label></p>-->
        <button onclick="return confirm('Are you sure? If yes, mail would be sent to your registered email address.')">Reset Password</button>
      </div>

    <div class="footer">
        <h5>New here? <a href="/users/new">Sign Up.</a></h5>
        <h5>Already have an account? <a href="/login">Sign In.</a></h5>
    </div>
</div>
</body>
</html>