<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logout Page</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<div class="topnav">
<!--    <a href="/homepage">Home</a>-->
    <a href="/posts">Posts</a>
    <a class="active" href="/logout">Log Out</a>
</div>

    <h1>Log out of your account?</h1>
    <form th:action="@{/logout}" method="post">
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancel_btn" onclick="window.location='/posts'">Cancel</button>
            <button type="button" class="cancel_btn" onclick="window.location='/homepage'">Logout</button>
        </div>
<!--        <input type="submit" value="Logout" /> -->
    </form>
</body>
</html>