<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<div class="navbar">
<!--    <a href="/homepage">Home</a>-->
    <a href="/posts" id="posts">Posts</a>
    <a th:href="${user}" id="profile">Profile</a>
    <a class="active" href="/logout">Log Out</a>
    <div sec:authorize="isAuthenticated()" style="text-align: right; padding: 5px; color: white; padding-top: 15px; padding-right: 30px;">
        Signed in as: <span sec:authentication="name"></span>
    </div>
</div>

    <h1>Log out of your account?</h1>
    <form th:action="@{/logout}" method="post">

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" id= "cancel" class="cancel_btn" onclick="window.location='/posts'">Cancel</button>
            <button type="button" id= "logout" class="cancel_btn" onclick="window.location='/homepage'">Logout</button>
        </div>
<!--        <input type="submit" value="Logout" /> -->

    </form>
</body>
</html>