<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Terms and Privacy Policy for Acebook</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa distinctio dolore eius explicabo illum libero molestias, mollitia nobis porro quis quo recusandae reprehenderit suscipit tempore vel veniam voluptate voluptatibus?</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa distinctio dolore eius explicabo illum libero molestias, mollitia nobis porro quis quo recusandae reprehenderit suscipit tempore vel veniam voluptate voluptatibus?</p>

<a href="/users/new">Return to Acebook's sign up page</a>
</body>
</html>